## LISTS

A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0â€“9, or the names of
all the people in your family. You can put anything you want into a list.

In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

we can store list into a variable by seperate list items by using a comma and put them in between closed brackets
   
   list_item=[items1,item2,item3]

#### Accessing Elements in a List

In [6]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

In [7]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[2])

redline

In [8]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

In [9]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

#### Changing, Adding, and Removing Elements

##### Modifying Elements in a List

In [10]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

#### Adding Elements to a List

##### Appending Elements to the End of a List

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [12]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

##### Inserting Elements into a List

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

#### Removing Elements from a List

##### Removing an Item Using the del Statement

In [14]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [15]:
del motorcycles[1]
print(motorcycles)

['yamaha']

##### Removing an Item Using the pop() Method

In [16]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

##### Popping Items from any Position in a List

In [18]:
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

##### Removing an Item by Value

In [19]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [20]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

### Organizing a List

#### Sorting a List Permanently with the sort() Method

In [21]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [22]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

##### Sorting a List Temporarily with the sorted() Function

In [23]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

#### Printing a List in Reverse Order

In [24]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

#### Finding the Length of a List

In [25]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [27]:
print(motorcycles[::-1])

['suzuki', 'yamaha', 'honda']

###### use list_name[::-1] for get reversed

### Looping Through an Entire List

In [28]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [34]:
mag=[]
mag.append("nizam")
mag.append("nazim")
for i in mag:
    print(i)
    for j in i:
        print(j)

nizam
n
i
z
a
m
nazim
n
a
z
i
m

#### Doing More Work Within a for Loop

In [35]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [36]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

### Making Numerical Lists

##### Using the range() Function

In [37]:
for value in range(1,5):
    print(value)

1
2
3
4

##### Using range() to Make a List of Numbers

In [38]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

##### Simple Statistics with a List of Numbers

In [42]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

##### List Comprehensions

In [43]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Working with Part of a List

##### Slicing a List

In [45]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [46]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
values=players[0:3]

In [48]:
print(values)

['charles', 'martina', 'michael']

In [49]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

['michael', 'florence', 'eli']

##### Looping Through a Slice

In [50]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael